@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-color: hsla(0, 0%, 100%, 1);
    background-image:
        radial-gradient(at 5% 20%, hsla(0, 100%, 71%, 0.4) 0px, transparent 50%),
        radial-gradient(at 53% 7%, hsla(40, 100%, 77%, 0.4)0px, transparent 50%),
        radial-gradient(at 95% 20%, hsla(43, 54%, 38%, 0.4)0px, transparent 50%);
    overflow-x: hidden;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-bg {
    text-align: center;
    margin: 30px;
}

.logo {
    height: 70px;
}

form {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.644);
    box-shadow: 2px 9px 19px 6px rgba(142, 56, 0, 0.34);
    padding: 40px 80px 80px 80px;
    border-radius: 20px;
}

.form-heading,
.form-heading h3 {
    text-align: center;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 40px;
    color: #F58220;
}



.input-wrapper {
    position: relative;
    margin-bottom: 15px;
}

.input-wrapper input {
    background-color: rgb(255, 226, 217);
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 800;
    padding-left: 40px;
    margin-bottom: 10px;
    height: 3rem;
    border: 1px solid #F58220;
    border-radius: 15px;
}

.input-wrapper i {
    position: absolute;
    top: 50%;
    left: 15px;
    color: black;
    transform: translateY(-50%);
    font-weight: 900;
}

.btn {
    background-color: #F58220;
    border-radius: 15px;
    padding: 10px 70px;
}

.btn:hover {
    color: #8b4100;
    background-color: #ffa95d;
    box-shadow: -1px 1px 35px 12px rgba(255, 102, 0, 0.52);
    -webkit-box-shadow: -1px 1px 35px 12px rgba(255, 102, 0, 0.52);
    -moz-box-shadow: -1px 1px 35px 12px rgba(255, 102, 0, 0.52);
}


@media screen and (max-width: 768px) {

    html {
        overflow-x: hidden;
    }

    form {
        width: 350px;
        padding: 40px;
    }

    .input-wrapper input{
        width: 17rem;
    }

    .logo {
        height: 50px;
    }

    .form-heading,
    .form-heading h3 {
        font-size: 30px;
    }

}